.side-bar {
  width: 72px;
  position: relative;
  background-color: rgb(32, 34, 37);
  overflow-x: hidden;
  flex-shrink: 0;
  flex-direction: column;
}

.side-bar-icon {
  height: 48px;
  width: 48px;
  margin: 16px auto;
  text-align: center;
  line-height: 48px;
  background-color: rgb(54, 57, 63);
  transition: background-color 0.2s ease, border-radius 0.2s ease;

  border-radius: 50%;
  color: white;
  font-size: 24px;
}

.side-bar-icon:hover {
  background-color: rgb(114, 137, 218);
  cursor: pointer;
}

.active-server {
  background-color: rgb(114, 137, 218);
  border-radius: 16px;
}

.default-icons {
  border-bottom: 1px rgb(70, 71, 75) solid;
  margin: 8px;
}
