.auth-background-img {
  background-image: url("./login-signup-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form-contents {
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  height: 370px;
  width: 416px;
  padding: 32px;
  border-radius: 5px;
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #8e9297;
}

.login-form-contents h3 {
  color: white;
}

.login-form-fields {
  display: flex;
  flex-direction: column;
}

.login-form-fields input {
  background-color: rgba(0, 0, 0, 0.1);
  border: #1e1e24 solid thin;
  color: white;
  height: 18px;
  padding: 10px;
  transition: border 0.2s ease;
}

.login-form-fields input:hover {
  border: #040405 solid thin;
}

.login-form-fields input:focus {
  outline: none;
  border: #00b0f4 solid thin;
}

.login-field-labels {
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
}

.register-link {
  text-decoration: none;
}
.login-page-redirect {
  margin-top: 6px;
  font-size: 12px;
  color: #00b0f4;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  padding-bottom: 6px;
}

.login-page-redirect:hover {
  opacity: 1;
  cursor: pointer;
}

.login-buttons {
  display: flex;
  flex-direction: column;
}

.login-demo-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.login-btn {
  margin-top: 18px;
  border: none;
  border-radius: 3px;
  padding: 2px 16px;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: #7289da;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.login-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.demo-btn {
  margin-top: 18px;
  border: none;
  border-radius: 3px;
  padding: 2px 16px;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: rgb(59, 165, 92);
  opacity: 0.8;
  transition: opacity 0.2s ease;
  flex: 1 1 auto;
}

.demo-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.login-errors {
  margin: 30px 0;
  padding: 30px;
  position: absolute;
  background-color: #ed4245;
  border-radius: 8px;
  color: white;
  bottom: 125px;
}
