.chat-container {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #36393f;
}

.channel-header {
  position: relative;
  flex: 0 0 auto;
  z-index: 100;
  display: flex;
  align-items: center;
  min-width: 0;
  height: 48px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 20px;
  color: #dcddde;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.channel-title {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  min-width: 0;
  overflow: hidden;
}

.channel-title > svg {
  width: 24px;
  height: 24px;
  color: #72767d;
  margin: 0 8px;
}

.channel-title-text {
  font-size: 14px;
  margin: 0;
  margin-right: 8px;
  font-weight: 600;
}

.description-divider {
  width: 1px;
  height: 24px;
  margin: 0 8px;
  flex: 0 0 auto;
  background: hsla(0, 0%, 100%, 0.06);
}

.channel-description {
  flex: 1 1 auto;
  min-width: 0;
  margin: 0 0 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  color: #b9bbbe;
}

.chat-toolbar {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  min-width: 0;
}

.toolbar-member-button > svg {
  fill: #fff;
}

.toolbar-member-button > svg:hover {
  fill: #dcddde;
  cursor: pointer;
}

.chat-area {
  min-width: 0;
  min-height: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}

.chat-messages-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  flex: 1 1 auto;
}

.members-list-container {
  min-width: 240px;
  display: flex;
  position: relative;
}

.members-list {
  width: 240px;
  padding: 0 0 20px;
  flex: 0 0 auto;
  height: auto;
  background-color: #2f3136;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #202225 #2f3136;
}

.members-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.members-list::-webkit-scrollbar-corner {
  background-color: transparent;
}

.members-list::-webkit-scrollbar-thumb {
  background-color: #202225;
  min-height: 40px;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 4px;
}

.members-list::-webkit-scrollbar-track {
  background-color: #2f3136;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 4px;
}

.members-group {
  padding: 24px 8px 0 16px;
  height: 40px;
  white-space: nowrap;
  line-height: 16px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: #8e9297;
}

.member-container {
  max-width: 224px;
  margin-left: 8px;
  padding: 1px 0;
}

.member-info {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 42px;
  padding: 0 8px;
}

.member-info:hover {
  background-color: rgba(79, 84, 92, 0.16);
  cursor: pointer;
}

.member-name {
  color: #8e9297;
}

.message-container {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  z-index: 0;
  overflow-y: auto;
  margin-bottom: 16px;
  scrollbar-width: thin;
  scrollbar-color: #202225 #36393f;
}

.message-container::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.message-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.message-container::-webkit-scrollbar-thumb {
  background-color: #202225;
  min-height: 40px;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

.message-container::-webkit-scrollbar-track {
  background-color: #36393f;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

.send-message-form {
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -8px;
  margin-bottom: 24px;
}

.send-message-form > input {
  background-color: #40444b;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 11px 0;
  padding-left: 8px;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  font-size: 14px;
  height: auto;
}

.message {
  color: white;
  padding: 8px;
  display: flex;
  position: relative;
}

.subsequent-message {
  padding: 0 8px;
}

.message:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.message-image-container {
  margin-right: 4px;
}

.message-text-container {
  width: 100%;
}

.message-username {
  font-weight: bold;
  margin-bottom: 4px;
}

.message-body {
  color: lightgray;
  width: 100%;
}

.message-time {
  font-size: small;
  margin-left: 8px;
  color: rgb(155, 155, 155);
  font-weight: lighter;
}

.options-container {
  position: absolute;
  top: 4px;
  right: 16px;
  color: rgb(155, 155, 155);
}

.message-edit-icon {
  margin-right: 8px;
}

.message-edit-icon,
.message-delete-icon {
  cursor: pointer;
}

.message-edit-input {
  background-color: #2f3136;
  width: 95%;
  resize: none;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  height: auto;
}

.message-menu {
  position: absolute;
  top: 132px;
  right: 248px;
  width: 300px;
}

.message-menu-popout {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  overflow: hidden;
  max-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.message-menu-header {
  color: #dcddde;
  flex: 0 0 auto;
  background-color: #18191c;
}

.message-menu-profile-banner {
  display: block;
  padding: 64px 16px 16px;
  background-color: #18191c;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}

.message-menu-nickname {
  line-height: 24px;
  word-break: break-all;
  font-weight: 600;
  color: #fff;
}

.message-menu-avatar {
  top: 16px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
}

.message-menu-avatar-wrapper {
  width: 80px;
  height: 80px;
  border: 6px solid #18191c;
  background-color: #18191c;
  position: relative;
  border-radius: 50%;
}

.message-menu-avatar-wrapper > img {
  display: block;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.message-menu-form {
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #18191c;
  color: #fff;
}

.message-menu-form > form > input {
  padding: 10px;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #292b2f;
  width: 100%;
  border-radius: 3px;
  color: #dcddde;
  border: 1px solid rgba(0,0,0,0.3);
  transition: border-color .2s ease-in-out;
  outline: none;
}

.message-menu-form > form > input:focus {
  border-color: #00b0f4;
}
