.edit-header {
  color: white;
  font-weight: bolder;
  font-size: 24px;
}

.edit-text {
  color: rgb(185, 187, 190);
}

.edit-input-field {
  background-color: rgba(0, 0, 0, 0.1);
  border: #1e1e24 solid thin;
  color: white;
  height: 18px;
  padding: 10px;
  transition: border 0.2s ease;
}

.edit-input-field:hover {
  border: #040405 solid thin;
}

.edit-input-field:focus {
  outline: none;
  border: #00b0f4 solid thin;
}

.edit-label {
  color: #8e9297;
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
}
